{% extends "base.html" %}

{% block title %}
    Публикации в категории - {{ category_slug }}
{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1>Публикации в категории - {{ category_slug }}</h1>
        <hr>
        {% if posts %}
            {% for post in posts %}
                <article>
                    <ul>
                        <li>
                            Место: {{ post.location }}
                        </li>
                        <li>
                            Дата: {{ post.date }}
                        </li>
                        <li>
                            Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a>
                        </li>
                    </ul>
                    <p>
                        {{ post.text|slice:":200" }}...
                    </p>
                    <a href="{% url 'blog:post_detail' post_id=post.id %}">Читать полный текст</a>
                </article>
                <hr>
            {% endfor %}
        {% else %}
            <p>Нет публикаций в этой категории.</p>
        {% endif %}
    </div>
{% endblock %}
