{% extends "base.html" %}

{% block title %}
    {{ post.location }}. {{ post.date }}
{% endblock %}

{% block content %}
    <main>
        <div class="container py-5">
            <article>
                <ul>
                    <li>
                        Место: {{ post.location }}
                    </li>
                    <li>
                        Дата: {{ post.date }}
                    </li>
                    <li>
                        Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a>
                    </li>
                </ul>
                <p>
                    {{ post.text|linebreaksbr }}
                </p>
            </article>
        </div>
    </main>
{% endblock %}
